@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
}


<h2>@Model.Name</h2>
<ul>
    <li>@Model.Genre</li>
    <li>@Model.ReleaseDate</li>
    <li>@Model.DateAdded</li>
    <li>@Model.NrInStock</li>

</ul>
