@model Vidly.Models.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@Model.Title</h1>

@using (Html.BeginForm("Save", "Movies"))
{
    <div>
        @Html.LabelFor(m => m.Movie.Name)
        @Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.Name)
    </div>

    <div>
        @Html.LabelFor(m => m.Movie.ReleaseDate)
        @Html.TextBoxFor(m => m.Movie.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.ReleaseDate)
    </div>

    <div>
        @Html.LabelFor(m => m.Movie.GenreId)
        @Html.DropDownListFor(m => m.Movie.GenreId, new SelectList(Model.Genres, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.GenreId)
    </div>

    <div>
        @Html.LabelFor(m => m.Movie.NrInStock)
        @Html.TextBoxFor(m => m.Movie.NrInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.NrInStock)
    </div>

    @Html.HiddenFor(m => m.Movie.Id)
    @Html.AntiForgeryToken()
    
    <button type="submit" class="btn btn-primary" style="margin-top:10px">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}